body {
    font-family: sans-serif;
}
.header {
    color: #ffff55;
    background-color: aquamarine;
    font-size: 50px;
    font-weight: 700;
    width: 500px;
    
}
.card{
    width: 500px;
    padding: 16px;
    margin: auto;
    margin-top: 200px;
    background-color: azure;
}