body {
    font-family: "sans-serif";
    background-color: darkblue;
}
div {
    color: yellowgreen;
    background-color: cornsilk;
}

.header {
    color: #ffff55;
    background-color: aquamarine;
    font-size: 50px;
    font-weight: 700;
    width: 450px;
    
}

